
html {

	min-width: 100px
	max-height: 100px;
}



*{

	padding: 0px;
	margin: 0px
;
}

nav{

			width: 200px;
			padding: 10px;
			border-style: solid;
			position: fixed

}

.img-circle {

	border-radius: 50%;
}

body{
		text-align: center;
		color: #08C8C8;
		background-color: #5D3A17;
	
	}


		

		h1{

			color:#FC4040;

		}




		div{

			width: 400px;
			padding: 25px;
			border-radius: 50% 10px solid #667F99;
			position: : relative;

		}


		p{
			background-color: rgb(0,0,0);
			opacity: 0.5;
			text-align: center;
			color:#FC4040;

			border-style: solid;


		}



		h3{
			text-align: center;
			color: #FC4040;
			position: relative;

		}

		h4{
			position: absolute;
			color: #65EF75
		}

		#donut-header{

			width: 50%;
			max-height: 300px;

		}
