


body{
		text-align: center;
		color: #08C8C8;
		background-color: #5D3A17;}

		

		h1{

			color:#FC4040;
		}

		div{

			width: 200px;
			padding: 25px;
			border: 10px solid #667F99;
		}

		p{
			background-color: rgb(0,0,0);
			opacity: 0.5;
			text-align: center;
			color:#FC4040;

			border-style: solid;

		}



		h3{
			text-align: center;
			color: #FC4040;

		}
